{
  "bracketSpacing": false,
  "singleQuote": true,
  "printWidth": 60,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["tests/**/*.ts"],
      "options": {
        "printWidth": 90
      }
    }
  ]
}
